.imageSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 700px;
}

.upload {
  text-align: center;
}

.cancel {
  padding: 1rem;
  text-align: center;
}